@page
@{
    ViewData["Title"] = "Om";
}
<h1>@ViewData["Title"]</h1>

<img src="~/images/profile.jpg" alt="" />

<p>Aenean maximus congue eros in auctor. Mauris quis ipsum commodo, dignissim nibh in, facilisis quam. Fusce ut est vulputate, posuere enim eu, dapibus ante. Proin lectus turpis, dapibus in lobortis at, finibus id nisi. Nullam eget ipsum metus. Aliquam varius tortor lorem, vel eleifend nunc pulvinar vitae. Nulla sollicitudin tortor eleifend venenatis cursus. Morbi fermentum libero id cursus tempor. Nunc ut lacus et nulla vulputate volutpat at non orci. Cras pretium magna ac nulla faucibus aliquam.</p>